# Ignore configuration files that may contain sensitive information.
/messagebroker-config
*.csv
*.xlsx

# Ignore composer working files
composer.lock
/vendor/

# Ignore testing working files
tests/phpunit.xml

# Ignore config settings with sensative account creds
config.inc

# Ignore OSX system files
.DS_Store

# Ignore PHPStorm configuration files
.idea
