# Ignore configuration files that may contain sensitive information.
/messagebroker-config
*.csv
*.xlsx

# Ignor composer working files
/vendor

# Ignor testing working files
tests/phpunit.xml

# Ignor config settings with sensative account creds
config.inc

# Ignor OSX system files
.DS_Store
